
body {
    margin: 0;
    background-color: #333;
}

.header {
    color: white;
    padding: 20px;
    text-align: center;
}

.rad::etter {
    content: "";
    display: table;
    clear: both;
}

/*gjør så allt i klasen flyter til siden isteden for å bli samplet på toppen med en*/
.column {
    float: left;
  }
    

.column.side {
    width: 25%;
}
    

.column.middle {
    width: 50%;
    background-color:white;
}

